:root {
    --fundo: #ffe9d2;
    --roupa: #9c9898;
    --fotos: #c7c3c3;
    --valor: #f50101;
}
html {
    background-color: var(--fundo);
}
.roupas {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    position: absolute;
}
.roupa {
    flex-grow: 1;
    flex-basis: calc(50% - 6rem);
    height: 24rem;
    margin: 1rem;
    text-align: center;
    background-color: var(--roupa);
}
.fotos {
    background-color: var(--fotos);
}
.img-roupa {
    width: 16rem;
    height: 16rem;
}
h3 {
    font-size: 25px;
    margin: 20px;
}
.valor {
    color: var(--valor);
}
.off {
    text-decoration: line-through;
}