:root {
    --fundo: #ffe9d2;
    --roupa: #9c9898;
    --fotos: #c7c3c3;
    --valor: #f50101;
}
html {
    background-color: var(--fundo);
}
.roupas {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    position: absolute;
}
.roupa {
    flex-grow: 1;
    flex-basis: calc(50% - 6rem);
    height: 24rem;
    margin: 1rem;
    text-align: center;
    background-color: var(--roupa);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.fotos {
    background-color: var(--fotos);
}
.img-roupa {
    width: 16rem;
    height: 16rem;
}
h3 {
    font-size: 25px;
    margin: 20px;
    text-decoration: underline;
}
.valor {
    color: var(--valor);
    font-weight: bold;
    text-decoration: none;
}
.off {
    text-decoration: line-through;
}
.titulo {
    
}
.highlight {
    color: #ff6600;
    font-weight: bold;
}
.sobre-nos {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.footer {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: #ff6600;
    font-size: 1.1em;
}