.roupas {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.roupa {
    flex-grow: 1;
    flex-basis: calc(50% - 6rem);
    height: 26rem;
    margin: 1rem;
    text-align: center;
}
.img-roupa {
    max-width: 20rem;
    max-height: 20rem;
}